/*default css*/

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: sans-serif;
	background-color: rgba(255, 255, 0, .2);
}

input{
	outline: 0;
}

/***************************************************************************************/
/*get_data.php css*/

.profile{
	margin-left: 20px;
	margin-bottom: 20px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px; 
}

.gendercomfrom{
	margin-left: 100px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.dobday{
	width: 50px;
	margin-left: 60px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.dobm{
	width: 80px;
	margin-left: 10px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.doby{
	width: 60px;
	margin-left: 10px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.skin{
	width: 150px;
	margin-left: 100px;
	margin-top: 20px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.statepro{
	width: 150px;
	margin-left: 40px;
	margin-bottom: 20px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.study{
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.typejob{
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.aincome{
	margin-left: 40px;
	margin-top: 20px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.statefamily{
	margin-left: 120px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.buttonone{
	margin: 40px 50px 50px 500px; 
	width: 100px;
	padding:10px 0;
	border: 0;
	text-align: center;
	border-radius: 5px;
	background-color: #008000;
	font-size: 1rem;
	font-weight: 700;  
	cursor: pointer;
}

.buttonone a{
	text-decoration: none;
	color: white;
}

.buttontwo{
	width: 150px;
	padding:10px 0;
	border: 0;
	text-align: center;
	border-radius: 5px;
	background-color: #008000;
	color: white;
	font-size: 1rem;
	font-weight: 700;  
	cursor: pointer;
}

/**************************************************************************************/

@media only screen and (max-width: 360px){
	.header >h1{
		text-align: center;
		font-size: 25px;
		padding: 20px 0 10px 0;
		color: #FF0000;
	}

	#mainform{
		width: 100%;
		border: 0.01rem solid black;
		margin: 10px 10px 20px 10px;
		box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),
				 	0 1px 10px 0 rgba(0,0,0,0.12), 
				 	0 2px 4px -1px rgba(0,0,0,0.3);
		box-sizing: border-box;
		background-color: white;
		padding-left: 20px;
		padding-right: 10px;
		padding-bottom: 40px;
	}

	#mainform h3{
		text-align: center;
		font-size: 20px;
		padding: 10px 0;
		color: #FF0000;
	}

	.personal{
		padding-bottom: 20px;
		margin-bottom: 20px;
	}

	.strong1{
		font-size: .8rem;
		padding-right: 10px;
	}

	.profilefor{
		width: 85px;
		height: 20px;
		font-size: .8rem;
		margin-left: 16px;
		margin-bottom: 10px;
	}

	.inputone{
		width: 120px;
		height: 20px;
		font-size: .8rem;
		margin-left: 14px;
		margin-bottom: 10px;
		padding: 5px 5px;
	}

	.last{
		margin-left: 15px;
	}

	.gender{
		width: 85px;
		height: 20px;
		font-size: .8rem;
		margin-left: 35px;
		margin-bottom: 10px;
	}

	.day{
		width: 45px;
		height: 20px;
		font-size: .6rem;
		margin-left: 1.5px;
		margin-bottom: 10px;
	}

	.month{
		width: 50px;
		height: 20px;
		font-size: .6rem;
		margin-bottom: 10px;
	}

	.year{
		width: 45px;
		height: 20px;
		font-size: .6rem;
		margin-bottom: 10px;
	}

	.commu{
		width: 120px;
		height: 20px;
		font-size: .8rem;
		margin-left: 10px;
		margin-bottom: 10px;
		padding: 5px;
	}

	.gotra{
		width: 120px;
		height: 20px;
		font-size: .8rem;
		margin-left: 47px;
		margin-bottom: 10px;
		padding: 5px;
	}

	.Manglik{
		width: 85px;
		height: 20px;
		font-size: .8rem;
		margin-left: 19px;
		margin-bottom: 10px;
	}

	.height{
		width: 40px;
		height: 20px;
		font-size: .8rem;
		margin-left: 40px;
		margin-bottom: 10;
	}

	.heightone{
		width: 40px;
		height: 20px;
		margin-left: 5px;
		font-size: .8rem
		margin-bottom: 10;
	}

	.label{
		font-size: .7rem;
		padding-left: 3px;
	}

	.tone{
		width: 85px;
		height: 20px;
		font-size: .8rem;
		margin-left: 20px;
		margin-bottom: 10px;	
	}

	.professional{
		padding-bottom: 20px;
		margin-bottom: 20px;
	}

	.stateone{
		width: 85px;
		height: 20px;
		font-size: .8rem;
		margin-left: 30px;
		margin-bottom: 10px;
	}

	.textbox{
		width: 120px;
		height: 20px;
		font-size: .8rem;
		margin-left: 70px;
		margin-bottom: 10px;
	}

	.textboxone{
		width: 120px;
		height: 20px;
		font-size: .8rem;
		margin-left: 50px;
		margin-bottom: 10px;
	}

	.degree{
		width: 85px;
		height: 20px;
		font-size: .8rem;
		margin-left: 20px;
		margin-bottom: 10px;
	}

	.degreedetails{
		width: 120px;
		height: 20px;
		font-size: .8rem;
		margin-left: 10px;
		margin-bottom: 10px;
	}

	.jobtype{
		width: 85px;
		height: 20px;
		font-size: .8rem;
		margin-left: 8px;
		margin-bottom: 10px;
	}

	.companyname{
		width: 120px;
		height: 20px;
		font-size: .8rem;
		margin-left: 10px;
		margin-bottom: 10px;
	}

	.pojison{
		width: 120px;
		height: 20px;
		font-size: .8rem;
		margin-left: 35px;
		margin-bottom: 10px;
	}

	.income{
		width: 85px;
		height: 20px;
		font-size: .8rem;
		margin-left: 35px;
		margin-bottom: 10px;
	}

	.prentname{
		width: 120px;
		height: 20px;
		font-size: .8rem;
		margin-left: 40px;
		margin-bottom: 10px;
	}

	.fatherjob{
		width: 120px;
		height: 20px;
		font-size: .8rem;
		margin-left: 5px;
		margin-bottom: 10px;
	}

	.mname{
		width: 120px;
		height: 20px;
		font-size: .8rem;
		margin-left: 5px;
		margin-bottom: 10px;
	}

	.familymeber{
		width: 120px;
		height: 20px;
		font-size: .8rem;
		margin-left: 70px;
		margin-bottom: 10px;
	}

	.sister{
		margin-left: 80px;
	}

	.address{
		width: 120px;
		height: 20px;
		font-size: .8rem;
		margin-left: 75px;
		margin-bottom: 10px;
	}

	.city{
		margin-left: 100px;
	}

	.statetwo{
		width: 85px;
		height: 20px;
		font-size: .8rem;
		margin-left: 110px;
		margin-bottom: 10px;
	}

	.phone{
		width: 120px;
		height: 20px;
		font-size: .8rem;
		margin-left: 35px;
		margin-bottom: 10px;
	}

	.alternatephone{
		width: 120px;
		height: 20px;
		font-size: .8rem;
		margin-left: 15px;
		margin-bottom: 10px;
	}

	.submit{
		color: white;
		margin-top: 20px;
		margin-left: 100px;
	}

}

/**************************************************************************************/
@media only screen and (min-width: 361px){
	.header >h1{
		text-align: center;
		font-size: 25px;
		padding: 20px 0;
		color: #FF0000;
	}

	#mainform{
		width: 100%;
		border: 0.01rem solid black;
		margin: 20px 30px;
		box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),
				 	0 1px 10px 0 rgba(0,0,0,0.12), 
				 	0 2px 4px -1px rgba(0,0,0,0.3);
		box-sizing: border-box;
		background-color: white;
		padding-left: 20px;
		padding-right: 10px;
		padding-bottom: 40px;
	}

	#mainform h3{
		text-align: center;
		font-size: 20px;
		padding: 10px 0;
		color: #FF0000;
	}

	.personal{
		padding-bottom: 20px;
		margin-bottom: 20px;
	}

	.strong1{
		font-size: .8rem;
		padding-right: 10px;
	}

	.profilefor{
		width: 85px;
		height: 20px;
		font-size: .8rem;
		margin-left: 25px;
		margin-bottom: 10px;
	}

	.inputone{
		width: 120px;
		height: 20px;
		font-size: .8rem;
		margin-left: 14px;
		margin-bottom: 10px;
	}

	.gender{
		width: 85px;
		height: 20px;
		font-size: .8rem;
		margin-left: 45px;
		margin-bottom: 10px;
	}

	.day{
		width: 45px;
		height: 20px;
		font-size: .6rem;
		margin-left: 2px;
		margin-bottom: 10px;
	}

	.month{
		width: 45px;
		height: 20px;
		font-size: .6rem;
		margin-bottom: 10px;
	}

	.year{
		width: 45px;
		height: 20px;
		font-size: .6rem;
		margin-bottom: 10px;
	}

	.commu{
		width: 120px;
		height: 20px;
		font-size: .6rem;
		margin-left: 14px;
		margin-bottom: 10px;
	}

	.gotra{
		width: 120px;
		height: 20px;
		font-size: .8rem;
		margin-left: 50px;
		margin-bottom: 10px;
	}

	.Manglik{
		width: 85px;
		height: 20px;
		font-size: .8rem;
		margin-left: 35px;
		margin-bottom: 10px;
	}

	.height{
		width: 40px;
		height: 20px;
		margin-left: 50px;
		font-size: .8rem;
		margin-bottom: 10;
	}

	.heightone{
		width: 40px;
		height: 20px;
		margin-left: 5px;
		font-size: .8rem
		margin-bottom: 10;
	}

	.label{
		font-size: .8rem;
		padding-left: 3px;
	}

	.tone{
		width: 85px;
		height: 20px;
		font-size: .8rem;
		margin-left: 45px;
		margin-bottom: 10px;	
	}

	.professional{
		padding-bottom: 20px;
		margin-bottom: 20px;
	}

	.stateone{
		width: 85px;
		height: 20px;
		font-size: .8rem;
		margin-left: 30px;
		margin-bottom: 10px;
	}

	.textbox{
		width: 120px;
		height: 20px;
		font-size: .8rem;
		margin-left: 70px;
		margin-bottom: 10px;
	}

	.textboxone{
		width: 120px;
		height: 20px;
		font-size: .8rem;
		margin-left: 50px;
		margin-bottom: 10px;
	}

	.degree{
		width: 85px;
		height: 20px;
		font-size: .8rem;
		margin-left: 20px;
		margin-bottom: 10px;
	}

	.degreedetails{
		width: 120px;
		height: 20px;
		font-size: .8rem;
		margin-left: 10px;
		margin-bottom: 10px;
	}

	.jobtype{
		width: 85px;
		height: 20px;
		font-size: .8rem;
		margin-left: 8px;
		margin-bottom: 10px;
	}

	.companyname{
		width: 120px;
		height: 20px;
		font-size: .8rem;
		margin-left: 10px;
		margin-bottom: 10px;
	}

	.pojison{
		width: 120px;
		height: 20px;
		font-size: .8rem;
		margin-left: 35px;
		margin-bottom: 10px;
	}

	.income{
		width: 85px;
		height: 20px;
		font-size: .8rem;
		margin-left: 35px;
		margin-bottom: 10px;
	}

	.family{
		padding-bottom: 20px;
		margin-bottom: 20px;
	}

	.prentname{
		width: 120px;
		height: 20px;
		font-size: .8rem;
		margin-left: 40px;
		margin-bottom: 10px;
	}

	.fatherjob{
		width: 120px;
		height: 20px;
		font-size: .8rem;
		margin-left: 5px;
		margin-bottom: 10px;
	}

	.mname{
		width: 120px;
		height: 20px;
		font-size: .8rem;
		margin-left: 5px;
		margin-bottom: 10px;
	}

	.familymeber{
		width: 120px;
		height: 20px;
		font-size: .8rem;
		margin-left: 70px;
		margin-bottom: 10px;
	}

	.sister{
		margin-left: 80px;
	}

	.address{
		width: 120px;
		height: 20px;
		font-size: .8rem;
		margin-left: 75px;
		margin-bottom: 10px;
	}

	.city{
		margin-left: 100px;
	}

	.statetwo{
		width: 85px;
		height: 20px;
		font-size: .8rem;
		margin-left: 110px;
		margin-bottom: 10px;
	}

	.phone{
		width: 120px;
		height: 20px;
		font-size: .8rem;
		margin-left: 35px;
		margin-bottom: 10px;
	}

	.alternatephone{
		width: 120px;
		height: 20px;
		font-size: .8rem;
		margin-left: 15px;
		margin-bottom: 10px;
	}

	.submit{
		color: white;
		margin-top: 20px;
		margin-left: 100px;
	}
	
}

/*******************************************************************************/
@media only screen and (min-width: 768px){

	.header >h1{
		text-align: center;
		font-size: 30px;
		font-weight: 700;
		padding: 20px 0;
		color: #FF0000;
	}

	#mainform{
		/*width: 100%;*/
		border: 0.01rem solid black;
		margin: 20px 30px;
		box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),
				 	0 1px 10px 0 rgba(0,0,0,0.12), 
				 	0 2px 4px -1px rgba(0,0,0,0.3);
		box-sizing: border-box;
		background-color: white;
		padding-left: 40px;
		padding-right: 40px;
		padding-bottom: 40px;
	}

	.personal{
		float: left;	
		margin-right: 40px;
		padding-bottom: 20px;
		margin-bottom: 20px;	
	}

	.personal h3{
		text-align: center;
		font-size: 20px;
		font-weight: 700;
		padding: 40px 0;
		color: #FF0000;
	}

	.professional{
		float: left;
		margin-left: 40px;
		padding-bottom: 20px;
		margin-bottom: 20px;
	}

	.professional h3{
		text-align: center;
		font-size: 20px;
		font-weight: 700;
		padding: 40px 0;
		color: #FF0000;
	}

	.family{
		margin-top: 550px;
		text-align: left;
		padding-bottom: 20px;
		margin-bottom: 20px;
	}

	.family h3{
		/*text-align: center;*/
		font-size: 20px;
		font-weight: 700;
		padding: 40px 0 20px 0;
		color: #FF0000;
	}

	.strong1{
		font-size: .9rem;
		padding-right: 10px;
	}

	.profilefor{
		width: 85px;
		height: 20px;
		font-size: .8rem;
		margin-left: 40px;
		margin-bottom: 10px;
		padding: 2px;
	}

	.inputone{
		width: 120px;
		height: 20px;
		font-size: .8rem;
		margin-left: 21px;
		margin-bottom: 10px;
		padding: 2px;
	}

	.gender{
		width: 85px;
		height: 20px;
		font-size: .8rem;
		margin-left: 65px;
		margin-bottom: 10px;
		padding: 2px;
	}

	.day{
		width: 45px;
		height: 20px;
		font-size: .6rem;
		margin-left: 10px;
		margin-bottom: 10px;
		padding: 2px;
	}

	.month{
		width: 45px;
		height: 20px;
		font-size: .6rem;
		margin-bottom: 10px;
		padding: 2px;
	}

	.year{
		width: 45px;
		height: 20px;
		font-size: .6rem;
		margin-bottom: 10px;
		padding: 2px;
	}

	.commu{
		width: 120px;
		height: 20px;
		font-size: .6rem;
		margin-left: 14px;
		margin-bottom: 10px;
		padding: 2px;
	}

	.gotra{
		width: 120px;
		height: 20px;
		font-size: .8rem;
		margin-left: 50px;
		margin-bottom: 10px;
		padding: 2px;
	}

	.Manglik{
		width: 85px;
		height: 20px;
		font-size: .8rem;
		margin-left: 35px;
		margin-bottom: 10px;
		padding: 2px;
	}

	.height{
		width: 40px;
		height: 20px;
		margin-left: 45px;
		font-size: .8rem;
		margin-bottom: 10;
		padding: 2px;
	}

	.heightone{
		width: 40px;
		height: 20px;
		margin-left: 5px;
		font-size: .8rem
		margin-bottom: 10;
		padding: 2px;
	}

	.label{
		font-size: .8rem;
		padding-left: 3px;
	}

	.tone{
		width: 85px;
		height: 20px;
		font-size: .8rem;
		margin-left: 45px;
		margin-bottom: 10px;
		padding: 2px;	
	}

	.stateone{
		width: 85px;
		height: 20px;
		font-size: .8rem;
		margin-left: 30px;
		margin-bottom: 10px;
		padding: 2px;
	}

	.textbox{
		width: 120px;
		height: 20px;
		font-size: .8rem;
		margin-left: 70px;
		margin-bottom: 10px;
		padding: 2px;
	}

	.textboxone{
		width: 120px;
		height: 20px;
		font-size: .8rem;
		margin-left: 50px;
		margin-bottom: 10px;
		padding: 2px;
	}

	.degree{
		width: 85px;
		height: 20px;
		font-size: .8rem;
		margin-left: 20px;
		margin-bottom: 10px;
		padding: 2px;
	}

	.degreedetails{
		width: 120px;
		height: 20px;
		font-size: .8rem;
		margin-left: 10px;
		margin-bottom: 10px;
		padding: 2px;
	}

	.jobtype{
		width: 85px;
		height: 20px;
		font-size: .8rem;
		margin-left: 8px;
		margin-bottom: 10px;padding: 2px;
	}

	.companyname{
		width: 120px;
		height: 20px;
		font-size: .8rem;
		margin-left: 10px;
		margin-bottom: 10px;padding: 2px;
	}

	.pojison{
		width: 120px;
		height: 20px;
		font-size: .8rem;
		margin-left: 35px;
		margin-bottom: 10px;padding: 2px;
	}

	.income{
		width: 85px;
		height: 20px;
		font-size: .8rem;
		margin-left: 35px;
		margin-bottom: 10px;
		padding: 2px;
	}

	.prentname{
		width: 120px;
		height: 20px;
		font-size: .8rem;
		margin-left: 40px;
		margin-bottom: 10px;
		padding: 2px;
	}

	.fatherjob{
		width: 120px;
		height: 20px;
		font-size: .8rem;
		margin-left: 5px;
		margin-bottom: 10px;
		padding: 2px;
	}

	.mname{
		width: 120px;
		height: 20px;
		font-size: .8rem;
		margin-left: 5px;
		margin-bottom: 10px;
		padding: 2px;
	}

	.familymeber{
		width: 120px;
		height: 20px;
		font-size: .8rem;
		margin-left: 70px;
		margin-bottom: 10px;
		padding: 2px;
	}

	.sister{
		margin-left: 80px;
	}

	.address{
		width: 120px;
		height: 20px;
		font-size: .8rem;
		margin-left: 75px;
		margin-bottom: 10px;
		padding: 2px;
	}

	.city{
		margin-left: 100px;
	}

	.statetwo{
		width: 85px;
		height: 20px;
		font-size: .8rem;
		margin-left: 110px;
		margin-bottom: 10px;
	}

	.phone{
		width: 120px;
		height: 20px;
		font-size: .8rem;
		margin-left: 35px;
		margin-bottom: 10px;
	}

	.alternatephone{
		width: 120px;
		height: 20px;
		font-size: .8rem;
		margin-left: 15px;
		margin-bottom: 10px;
	}

	.submit{
		color: white;
		margin-top: 20px;
		margin-left: 100px;
	}

}

@media only screen and (min-width: 1280px){

	#mainContener{
	width: 100%;
}

.header >h1{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
	color: #FF4500;
	font-weight: 500;
}

#mainform{
	border: 0.01rem solid black;
	margin: 20px 100px 40px 100px;
	box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),
			 	0 1px 10px 0 rgba(0,0,0,0.12), 
			 	0 2px 4px -1px rgba(0,0,0,0.3);
	box-sizing: border-box;
	background-color: white;
}

#mainform h3{
	font-size: 20px;
	font-weight: 500;
	padding: 40px 0 60px 0;
	text-align: center;
}


/**********************************************************************************/
	/*Personal Details form css*/

.personal{
	width: 33%;
	float: left;
	padding-bottom: 120px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

.personal strong{
	font-size: .8rem;
	text-align: left;
	padding-right: 10px;
	padding-left: 10px;
}

.personal label{
	font-size: .8rem;  
}

.profilefor{
	width: 200px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin: 20px 20px;
}

.inputone{
	width: 200px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	margin: 20px 0 20px 70px;
	font-size: .6rem;
}

.gender{
	width: 80px;
	margin-left:90px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.day{
	width: 70px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	margin-left: 60px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: .8rem;
}

.month{
	width: 70px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	font-size: .8rem;
}

.year{
	width: 60px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
}

.commu{
	width: 200px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 70px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: .6rem;
}

.gotra{
	width: 200px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	margin: 20px 0 20px 100px;
	font-size: .6rem;
}

.Manglik{
	width: 80px;
	margin-left:70px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.height{
	width: 80px;
	margin-left: 90px;
	margin-right: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
}

.heightone{
	width: 80px;
	margin-left: 5px;
	margin-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
}

.tone{
	width: 200px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin: 20px 20px 0 70px;
}


/**************************************************************************************/
  /*Professional Details form css*/

.professional{
	width: 33%;
	float: left;
	padding-bottom: 180px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

.professional strong{
	font-size: .8rem;
	text-align: left;
	padding-right: 10px;
	margin-left: 20px;
	margin-right: 20px;
}

.stateone{
	width: 200px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}

.textbox{
	width: 200px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 82px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.textboxone{
	width: 200px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 62px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.degree{
	width: 200px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
}

.degreedetails{
	width: 200px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.jobtype{
	width: 200px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.companyname{
	width: 200px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 18px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.pojison{
	width: 200px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 45px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.income{
	width: 200px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 20px;
	margin-left: 20px;
}


/*************************************************************************************/
	/*Family Details form css*/
	
.family{
	width: 33%;
	float: left;
	padding-bottom: 30px; 
	border-bottom: 1px solid black;	
}

.family strong{
	font-size: .8rem;
	text-align: left;
	padding-right: 10px;
	margin-left: 20px;
	margin-right: 20px;
}

.prentname{
	width: 160px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 70px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.fatherjob{
	width: 160px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 35px;
}

.mname{
	width: 160px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 35px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.familymeber{
	width: 160px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 100px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.sister{
	margin-left: 110px
}

.address{
	width: 160px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 100px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.city{
	margin-left: 130px;
}

.pincode{
	margin-left: 100px;
}

.statetwo{
	width: 160px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 120px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.phone{
	width: 160px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 60px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.alternatephone{
	width: 160px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 20px;
	margin-bottom: 20px;
}


/***********************************************************************************/

.button{
	margin: 40px 550px 50px 600px; 
	width: 100px;
	padding:10px 0;
	border: 0;
	text-align: center;
	border-radius: 5px;
	background-color: #008000;
	color: white;
	/*font-size: 1rem;*/
	font-weight: 700;  
	cursor: pointer;
}

}